# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# macOS
.DS_Store

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

# Deprecated code
boneyard

# Temporary/runtime stuff
tmp
test/tmp
test/ca/tmp
test/ca/newcerts/*
test/client/*.json
test/ca/*.old
test/ca/index.txt
test/ca/serial
test/ca/newcerts


