extends layout
	
include ./mixins/device

block scripts
	script(src='/javascripts/pair-device.js')
	script(src='/javascripts/xhr.js')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/pair-device.css')

block content
	#tdiv
		table#nav
			tr
				td#appointments Appointments
				td.selected Register Device
				td#prescriptions Prescriptions
				td#administration Administration
				td#therapy Therapy
	.w3-modal(style='display: block;', onclick='endPairing();')
		.w3-modal-content.rounded-frame
			header.w3-container
				a.boxclose(href='#', onclick='endPairing();', style='display: none')
					img(src='/images/close_btn.png', width='30', height='30')
				#modal-header-text.h2 Adding Device to WiFi Network
			.modal-body
				+device-details(device)
				a.device-registered(href='#', style='display: none')
					img(src='/images/green-check.png', width='60', height='60')
				h2#SSID=ssid
			footer.w3-container
				progress#progress(max='100', value='0')